@import "tailwindcss";

@theme {
  --color-bg: #e7ebf2;
  --color-bg-alt: #d5dce6;
  --color-card: #ffffff;
  --color-lava: #1d4ed8;
  --color-lava-light: #17275c;
  --color-ember: #16a34a;
  --color-text: #0f172a;
  --color-text-dim: #47505c;
  --color-border: #c2cbd8;
}

body {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
}
